%h1= item[:title]

= render "partials/breadcrumbs"

%p
  The blueprint colors module defines the default colors that are used by the blueprint
  framework.

= render "partials/reference/imports"

= render "partials/reference/constants"

= render "partials/reference/mixins"
