---
title: Blueprint Grid Module
crumb: Grid
framework: blueprint
stylesheet: blueprint/_grid.sass
classnames:
  - reference
---
%h1= item[:title]

= render "partials/breadcrumbs"

%p
  The blueprint grid module defines the grid layout mixins for blueprint.

= render "partials/reference/imports"

= render "partials/reference/constants"

= render "partials/reference/mixins"
