%h1 Demo: #{@item[:title]}
#demo= example_html

= yield

#how
  %section#markup
    .syntax_pref
      %a{:href => "#", :rel => "html" } html
      %a{:href => "#", :rel => "haml" } haml

    .code
      %ul
        %li#html
          %pre= h(example_html)
        %li#haml
          %pre= h(example_haml)
  %section#styles
    .syntax_pref
      %a{:href => "#", :rel => "scss" } scss
      %a{:href => "#", :rel => "sass" } sass
      %a{:href => "#", :rel => "css" } css
    .code
      %ul
        %li#scss
          %pre= h(example_scss)
        %li#sass
          %pre= h(example_sass)
        %li#css
          %pre= h(example_css)
