%h1 Demo: #{@item[:title]}
#demo= example_html

= yield

#how
  %section#markup
    %nav
      %ul
        %li
          %a{:href => "#haml"} haml
        %li
          %a{:href => "#html"} html
    .code
      %ul
        %li#haml
          %pre= h(example_haml)
        %li#html
          %pre= h(example_html)
  %section#styles
    %nav
      %ul
        %li
          %a{:href => "#scss"} scss
        %li
          %a{:href => "#sass"} sass
        %li
          %a{:href => "#css"} css
    .code
      %ul
        %li#scss
          %pre= h(example_scss)
        %li#sass
          %pre= h(example_sass)
        %li#css
          %pre= h(example_css)
