- if @item[:stylesheet] && (reference = reference_item(:stylesheet => @item[:stylesheet]))
  #reference= link_to "Reference Documentation", reference

%h1 Demo: #{@item[:title]}
#demo= example_html

= yield if block_given?

#how
  %section#markup
    .syntax_pref
      %a{:href => "#", :rel => "html" } html
      %a{:href => "#", :rel => "haml" } haml
    .example-source
      %pre.source-code.html= h(example_html)
      %pre.source-code.haml= h(example_haml)
  %section#styles
    .syntax_pref
      %a{:href => "#", :rel => "scss" } scss
      %a{:href => "#", :rel => "sass" } sass
      %a{:href => "#", :rel => "css" } css
    .example-source
      %pre.source-code.scss= h(example_scss)
      %pre.source-code.sass= h(example_sass)
      %pre.source-code.css= h(example_css)
