%h1= @item[:title]

= yield

%table#example{:cellspacing=>"0", :cellpadding=>"0", :border=>"0"}
  %tr.source
    %th HTML
    %th Sass
  %tr.source
    %td.markup
      %pre
        %code.html= h(example_html)
    %td.stylesheet
      %pre
        %code.sass= h(example_sass)
  %tr.output
    %th Display
    %th Generated CSS
  %tr.output
    %td.markup
      = example_html
    %td.stylesheet
      %pre
        %code.css= h(example_css)