%h1 Demo: #{@item[:title]}
#demo= example_html

= yield

#how
  #markup
    %pre#haml= h(example_haml)
    %pre#html= h(example_html)
  #styles
    %pre#scss= h(example_scss)
    %pre#sass= h(example_sass)
    %pre#css= h(example_css)
