- render 'basic' do
  #wrap
    = render "partials/main-navigation"
    #page
      #docs_panel
        #theme_pref
          %a{:href => "#", :rel => "theme", :title => "switch theme" } Q
        -#syntax_pref
          %a{:href => "#", :rel => "scss" } scss
          %a{:href => "#", :rel => "sass" } sass
        #version
          Version:
          %a.number(href="/CHANGELOG/")= compass_version
      %article= yield
      -comments= render "partials/disqus_comments"
    %footer(role="contentinfo")= render "partials/footer"
  = @item[:content_for_javascripts]
  = render "partials/analytics"
  <script type="text/javascript">SyntaxHighlighter.all();</script>

