!!!5
%html.no-js{:dir => "ltr", :lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta(name="viewport" content="width=780")
    %link(rel="shortcut icon" type="image/png" href="/images/compass_icon.png")
    %title
      #{@item[:title]} | Compass Documentation
    %link{:charset => "utf-8", :href => "/stylesheets/screen.css", :rel => "stylesheet", :type => "text/css"}
    = render "partials/js-core"
  %body.default{body_attributes(@item)}
    #wrap
      = render "partials/main-navigation"
      #page
        #docs_panel
          #theme_pref
            %a{:href => "#", :rel => "theme", :title => "switch theme" } Q
          #version
            Version:
            %a.number(href="/CHANGELOG/")= compass_version
        %article= yield
      %footer(role="contentinfo")= render "partials/footer"
    = render "partials/analytics"

