!!!5
%html.no-js{:dir => "ltr", :lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta(name="viewport" content="width=810")
    %link(rel="shortcut icon" type="image/png" href="/images/compass_icon.png")
    %title
      #{@item[:title]} | Compass Documentation
    %link{:charset => "utf-8", :href => "/stylesheets/home.css?v=1", :rel => "stylesheet", :type => "text/css"}
    = render "partials/js-core"
    /[if lte IE 8]
      %link{:charset => "utf-8", :href => "/stylesheets/ie.css", :rel => "stylesheet", :type => "text/css"}
    - if @item[:content_for_additional_css]
      %style(type="text/css")= @item[:content_for_additional_css]
  %body{body_attributes(@item)}
    #wrap
      = render "partials/main-navigation"
      #page
        #docs_panel
          #theme_pref
            %a{:href => "#", :rel => "theme", :title => "switch theme" } Q
        = yield
      %footer(role="contentinfo")= render "partials/footer"
    = render "partials/analytics"
