!!!5
%html.no-js{:dir => "ltr", :lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "chrome=1", "http-equiv" => "X-UA-Compatible"}
    %link(rel="shortcut icon" type="image/png" href="/docs/images/compass_icon.png")
    %title
      #{@item[:title]} | Compass Documentation
    <!--[if !IE 6]><!-->
    %link{:charset => "utf-8", :href => "/docs/stylesheets/screen.css", :rel => "stylesheet", :type => "text/css"}
    <!--<![endif]-->
    /[if gte IE 7]
      %link{:charset => "utf-8", :href => "/docs/stylesheets/ie.css", :rel => "stylesheet", :type => "text/css"}
    /[if IE 6]
      %link{:charset => "utf-8", :href => "http://universal-ie6-css.googlecode.com/files/ie6.0.3.css", :rel => "stylesheet", :type => "text/css"}
    - if @item[:content_for_additional_css]
      %style(type="text/css")= @item[:content_for_additional_css]
  %body{body_attributes(@item)}
    %nav#skip-links
      %a{:href => "#content"} skip to content
    %header#banner{:role => "banner"}
      %div
        %h1.vcard
          %a.fn.org.url.uid{:href => "/", :rel => "home"} Compass
        %nav#compass-nav
          %ul
            %li
              %a{:href => "/", :rel => "home"} compass
            %li
              %a{:href => "/docs/"} reference
            %li
              %a{:href => "/docs/tutorials/"} tutorials
    %nav#docs-nav{:role => "navigation"}
      %ul
        %li
          %a{:href => "/docs/"} introduction
        %li
          %a{:href => "/docs/reference/compass/"} core
        %li
          %a{:href => "/docs/reference/blueprint/"} blueprint
        /
          %li
            %a{:href => "/docs/plugins/"} plugins
      #version
        Current Version:
        %a.number(href="/CHANGELOG/")= compass_version
      #search-docs
        %form
          %p
            %label{:for => "search"} search
            %input#search{:name => "search", :type => "text", :value => "", :placeholder => "Search"}
    - if @item[:content_for_module_nav]
      %nav#module-nav= @item[:content_for_module_nav]
    #page= yield
    %script(src="/docs/javascripts/jquery-1.3.2.min.js")
    %script(src="/docs/javascripts/fixups.js" deferred)
    = render "partials/analytics"
