- render "basic" do
  #wrap
    %header#banner{:role => "banner"}
      %div
        %h1.vcard
          %a.fn.org.url.uid{:href => "/", :rel => "home"} Compass
    %nav#docs-nav{:role => "navigation"}
      .container
        %ul
          %li
            %a{:href => "/docs/"} introduction
          %li
            %a{:href => "/docs/reference/compass/"} core
          %li
            %a{:href => "/docs/reference/blueprint/"} blueprint
          %li
            %a{:href => "/docs/tutorials/"} tutorials
          /
            %li
              %a{:href => "/docs/plugins/"} plugins
        #version
          Current Version:
          %a.number(href="/docs/CHANGELOG/")= compass_version
        #search-docs
          %form{:action => "/docs/search/", :method => "GET"}
            %p
              %label{:for => "search"} search
              %input#search{:name => "q", :type => "text", :value => ""}
    - if @item[:content_for_module_nav]
      %nav#module-nav= @item[:content_for_module_nav]
    #page= yield
    #wrap-footer
  %footer(role="contentinfo")= render "partials/footer"
  %script(src="/docs/javascripts/jquery-1.3.2.min.js")
  %script(src="/docs/javascripts/fixups.js" deferred)
  = @item[:content_for_javascripts]
  = render "partials/analytics"
