%h1= item[:title]

= yield

%p
  This file can be imported using:
  %code @import "#{departialize(item[:stylesheet][0..-6])}"

%p
  - gh_url = "http://github.com/chriseppstein/compass/blob/stable/frameworks/"
  - gh_url << "#{item[:framework]}/stylesheets/#{item[:stylesheet]}"
  View the
  %a{:href => gh_url} Source for this module on Github.

= render "partials/reference/examples"

= render "partials/reference/imports"

= render "partials/reference/constants"

= render "partials/reference/mixins"
