= render "partials/breadcrumbs"

%h1= item[:title]

%p
  This file can be imported using:
  %code @import #{departialize(item[:stylesheet])}

= yield

= render "partials/reference/examples"

= render "partials/reference/imports"

= render "partials/reference/constants"

= render "partials/reference/mixins"
