- gh_url = "http://github.com/chriseppstein/compass/blob/stable/frameworks/"
- gh_url << "#{item[:framework]}/stylesheets/#{item[:stylesheet]}"
%a{:href => gh_url, :rel=>"github-source", :title=>"view source for this module on github"} Source on Github

%h1= item[:title]

- if item[:beta]
  %p.beta
    This module is fairly new and is currently in BETA (&beta;).

= yield if block_given?

%p
  This file can be imported using:
  %code @import "#{departialize(item[:stylesheet][0..-6])}"

= render "partials/reference/examples"

= render "partials/reference/imports"

= render "partials/reference/constants"

= render "partials/reference/functions"

= render "partials/reference/mixins"
