!!!5
%html.no-js{:dir => "ltr", :lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta(name="viewport" content="width=780")
    %link(rel="shortcut icon" type="image/png" href="/images/compass_icon.png")
    %title
      #{@item[:title]} | Compass Documentation
    %link{:charset => "utf-8", :href => "/stylesheets/screen.css", :rel => "stylesheet", :type => "text/css"}
    = render "partials/js-core"
  %body.site{body_attributes(@item)}
    #wrap
      = render "partials/main-navigation"
      #sub-nav
        %nav#module-nav
          %ul
            %li.getting-started
              %a{:href => "/help/", :rel => "getting started"} <span>Getting Started</span>
            %li.tutorials
              %a{:href => "/help/tutorials/", :rel => "getting started"} <span>Tutorials</span>
            %li.support
              %a{:href => "http://groups.google.com/group/compass-users", :rel => "support"} <span>Support</span>
            %li
              %a{:href => "http://github.com/chriseppstein/compass/issues", :rel => "bugs"} <span>Bugs</span>
      #page
        #docs_panel
          #theme_pref
            %a{:href => "#", :rel => "theme", :title => "switch theme" } Q
          #version
            Version:
            %a.number(href="/CHANGELOG/")= compass_version
        = yield
      %footer(role="contentinfo")= render "partials/footer"
    = render "partials/analytics"
