<?xml version="1.0" encoding="utf-8"?>
%feed(xmlns="http://www.w3.org/2005/Atom")
  %title Compass Blog
  %link(href="http://compass-style.org/blog/atom.xml" rel="self")
  %link(href="http://compass-style.org/blog/")
  %updated= Time.now.xmlschema
  %id http://compass-style.org/blog/
  %author
    %name Compass Core Team
  - for post in blog_posts_in_order.reverse
    - full_url = "http://compass-style.org#{post.rep_named(:default).path}"
    %entry
      %title&= post[:title]
      %link{:href=> full_url}
      %updated= blog_date(post).localtime.xmlschema
      %id= full_url[0..-2]
      %content(type="html")
        = post[:intro] || post[:description]

