- if (functions = functions(@item)).any?
  %h2 Functions

  - functions.each do |function|
    %a{:href=>"#function-#{function.name}-source", :rel => "view source"} view source
    %h3.function{:id=>"function-#{function.name}"}
      %a.permalink{:href => "#function-#{function.name}"}= function.sass_signature(:html)
    .function-source{:id=>"function-#{function.name}-source"}
      %pre.source-code.sass= function.to_sass
      %pre.source-code.scss= function.to_scss

    .source-documentation
      = format_doc(function.comment)
      - if (examples = examples(@item, function)).any?
        %dl.examples
          - examples.each do |example|
            %dt= link_to example.item[:title], example
            - if example.item[:description]
              %dd= example.item[:description]
