- if (sels = selectors(@item)).any?
  %h2 Selectors

  - sels.each do |selector|
    %a{:href=>"#selector-#{selector.identifier}-source", :rel => "view source"} view source
    %h3.selector{:id=>"selector-#{selector.identifier}"}
      %a.permalink{:href => "#selector-#{selector.identifier}"}= selector.name
    .selector-source{:id=>"selector-#{selector.identifier}-source"}
      %pre.source-code.sass= selector.to_sass
      %pre.source-code.scss= selector.to_scss

    .source-documentation
      = format_doc(selector.comment)
