---
title: Compass Documentation | All Functions
crumb: Docs
body_id: home
---
%article
  %h1#logo Sass Based Functions

  - all_functions.sorted_and_grouped_by_name{|f| f.last.name }.each do |(group, functions)|
    %h3= group
    %ul
      - functions.each do |(i, f)|
        %li
          %a{:href=>"#{i.path}#function-#{f.name}"}= f.sass_signature(:html)

  - sass_function_list = []
  %h1#logo All Ruby Based Functions
  %h3 Compass Functions
  %ul
    - Sass::Script::Functions.public_instance_methods.sort_by{|m| m.to_s}.each do |m|
      - name = m.to_s.gsub("_","-")
      - unless name =~ /^\-compass/ # Private Fuctions!
        - if i = item_for_function_name(name)
          %li
            %a{:href=>"#{i.path}##{name}"}= name
        - elsif sass_functions().include? m
          - sass_function_list << '<a href="http://sass-lang.com/docs/yardoc/Sass/Script/Functions.html#%s-instance_method">%s</a>' % [m.to_s, name]
        - else
          %li
            = name
  %h3 Sass Functions
  %ul
    - sass_function_list.each do |m|
      %li= m