- if (mixin_defs = mixins(@item)).any?
  %h2 Mixins

  - mixin_defs.each do |mixin|
    %a{:href=>"#mixin-#{mixin.name}-source", :rel => "view source"} view source
    %h3.mixin{:id=>"mixin-#{mixin.name}"}
      %a.permalink{:href => "#mixin-#{mixin.name}"}= mixin.sass_signature(:none, :html)
    .mixin-source{:id=>"mixin-#{mixin.name}-source"}
      %pre.source-code.sass= mixin.to_sass
      %pre.source-code.scss= mixin.to_scss

    .source-documentation
      = format_doc(mixin.comment)
      - if (examples = examples(@item, mixin)).any?
        %dl.examples
          - examples.each do |example|
            %dt= link_to example.item[:title], example
            - if example.item[:description]
              %dd= example.item[:description]
